!.gitignore
*.bin
*.bak
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PRI
*.PS
*.PR
*.SearchResults
*.WK3
Thumbs.db
ConfigGen/Download/
ConfigGen/Temporal/
VBM_SDK/COMMON_SRC/CMSIS/heads
VBM_SDK/SN93700_VBM_SDK/LST/
VBM_SDK/SN93700_VBM_SDK/*.dep
VBM_SDK/SN93700_VBM_SDK/SN93700_VBM_SDK.uvgui.*
VBM_SDK/SN93700_VBM_SDK/SN93700_VBM_SDK.uvopt
VBM_SDK/SN93700_VBM_SDK/BIN/*.o
VBM_SDK/SN93700_VBM_SDK/BIN/*.d
VBM_SDK/SN93700_VBM_SDK/BIN/*.crf
VBM_SDK/SN93700_VBM_SDK/BIN/*.axf
VBM_SDK/SN93700_VBM_SDK/BIN/*.bin
VBM_SDK/SN93700_VBM_SDK/BIN/*.hex
VBM_SDK/SN93700_VBM_SDK/BIN/*.htm
VBM_SDK/SN93700_VBM_SDK/BIN/*.lnp

!VBM_SDK/SN93700_VBM_SDK/CONFIG/Header.bin
!VBM_SDK/SN93700_VBM_SDK/CONFIG/Header.hex
!VBM_SDK/SN93700_VBM_SDK/BIN/Book_Hook.bin
!VBM_SDK/SN93700_VBM_SDK/BIN/ISPMemDrive.bin
